<table *ngIf="showDetails; else pic" class="table table-bordered text-center">
  <thead>
    <tr>
      <th>Image</th>
      <th>Titre</th>
      <th>Date de sortie</th>
      <th>Catégories</th>
      <th>Classement</th>
    </tr>
  </thead>
  <tbody></tbody>
  <td>
    <img
      [src]="game.background_image"
      [alt]="game.name"
      width="100"
      height="100"
      [title]="game.name"
      (click)="showDetails = false"
    />
  </td>
  <td>{{ game.name }}</td>
  <td>{{ game.released }}</td>
  <td>
    <ul>
      <li *ngFor="let genre of game.genres">{{ genre.name }}</li>
    </ul>
  </td>
  <td>{{ rank + 1 }}</td>
</table>

<ng-template #pic>
  <img
    (click)="showDetails = true"
    [src]="game.background_image"
    [alt]="game.name"
    width="300"
    height="300"
    [title]="game.name"
    class="mb-2"
  />
</ng-template>
