<div class="jumbotron">
  <h1 class="display-4">Bonjour, E2VR!</h1>
  <p class="lead">Voici le classement des jeux vidéos populaire en 2019.</p>
  <hr class="my-4" />
  <p>
    Cette application utilise Angular et bootstrap. Les étapes que j'ai suivi
    sont les suivantes :
  </p>

  <p>1) Génération de la solution avec le CLI</p>
  <p>2) Création des dossiers Model, Services, Components</p>
  <p>3) Création du Service</p>
  <p>4) Création du Composant et affichage de la liste</p>
  <p>5) Création du Composant pour l'affichage détaillé</p>
  <p>6) Ajout de la pagination</p>
  <p>7) Ajout de la page A propos.</p>
  <p>8) Deploiement sur Firebase hosting</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/games" role="button"
      >Revenir à la liste</a
    >
  </p>
</div>
